.NavDiv {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    height: 70px;
    margin: 0;
    width: "100%";
    background-color: #B4D9F6;
    padding: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavText {
    font-family: 'Arya';
    font-style: normal;
    font-weight: 700;
    /* line-height: 116px; */
    margin-left: 20px;
    color: #001E30;
    top: 50%;
    font-size: 30px;
}

.NavIcon {
    top: 50%;
    max-height: 100%;
}

.NavProgress {
    width: 70%;
    display: flex;
    justify-content: end;

}

.sidebarLabels{

position:absolute;
top:25%;
left:25%;
width: 50%;
display: flex;
flex-direction: column;
align-items: start;
}
.sidebarLabels>h2:hover{
text-decoration: underline;
}

.container {
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
    padding-right: 0;

}

.progressBar>li img {
    width: 15px;
}

.progressBar>li {
    list-style-type: none;
    width: 14%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressBar>li::before {
    width: 30px;
    height: 30px;
    content: '';
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    transition: border-color 0.3s ease-in-out;
}

.progressBar>li::after {
    width: 100%;
    height: 5px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
    transition: background-color 0.3s ease-in-out;
}

.progressBar>li:first-child::after {
    content: none;
}

.progressBar>li.active::before {
    border-color: #e2edff;
    border-width: 2px;
}

.progressBar>li.active::after {
    background-color: #e2edff;
}


.progressBar>li.last::before {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: white !important;
}

.progressBar>li:nth-child(1).last::before {
    background: url('../assets/icons/Home.svg');
}

.progressBar>li:nth-child(2).last::before {
    background: url('../assets/icons/Person.svg');
}

.progressBar>li:nth-child(3).last::before {
    background: url('../assets/icons/Phone.svg');
}

.progressBar>li:nth-child(4).last::before {
    background: url('../assets/icons/Mail.svg');
}

.progressBar>li:nth-child(5).last::before {
    background: url('../assets/icons/Magnify.svg');
}

.progressBar>li:nth-child(6).last::before {
    background: url('../assets/icons/Magnify.svg');
}